<!-- markdownlint-disable no-trailing-spaces -->
<!-- markdownlint-disable no-inline-html -->

# Simple Example

The following configuration contains one execution which will create

- a pdf version of each TeX document under PROJECT_HOME/target/site.

```[xml]
<project>
    <build>
        <plugins>
            <plugin>
                <groupId>${project.groupId}</groupId>
                <artifactId>${project.artifactId}</artifactId>
                <version>${project.version}</version>
                <inherited>false</inherited>
                <executions>
                    <execution>
                        <phase>site</phase>
                        <goals>
                            <goal>latex</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>
```
