body,table {
	padding: 0;
	font-family: arial, sans-serif;
	background-color: #fff;
	color: #000;
}

body {
	margin: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH4AAAAhAQMAAAAlNY3pAAAABlBMVEVmAABmZmag5upWAAAAE0lEQVQoU2NkQAUcjKMCowJ4BABBCQEqSqTgLwAAAABJRU5ErkJggg==);
	*background-image: url(/style/bg.png);
	background-repeat: repeat-y;
	background-position: top left;
}

table { font-size: 1em; }

#bg {
	margin: 0;
	max-width: 1024px;
}
#content { 
	margin: 10px 10px 10px 136px;
	padding: 0;
}

#logo,#menu {
	font-size: 13px;
	text-align: left;
	color: #999;
	background-color: #600;
	border: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px 0 4px 4px; 
	width: 120px;
}
#menu {
	border-bottom: 1px #000 dashed;
	top: 124px;
}

b, strong { font-weight: bold }
i { font-style: italic }
a { color: #600 }
hr {
	height: 1px;
	border: 0;
	color: #600;
	background-color: #600;
}
h1 { 
	text-align: left;
	font-size: 1.5em;
	margin-top: 0;
	border-bottom: #600 solid 2px;
	line-height: 125%;
}
h2 { font-size: 1.25em; }
img { border: none }
.shrink { max-width: 100%; height: auto }
input { border-color: #999 }
pre,tt { font-family: monospace }

#logo a,#menu a { color: #fff; display: block; padding-left: 8px; text-indent: -8px; text-decoration: none }
#logo a:hover,#menu a:hover { background-color: #933 }
#menu dl { margin: 8px 0 8px 4px; padding-left: 0; text-align: left }
#menu dd { margin: 0 0 0 8px; padding-left: 0 }
#menu dt { font-size: 1.25em }
#menu input { background-color: #fcc; border-color: #fcc; width: 90% }
#menu label { font-size: .75em; margin-top: 1.5em; display: block }
#news { margin: 1em 0; padding: 0 .5em .5em .5em; background-color: #eee; }
#news dt { text-align:center; font-weight: bold; margin: 0; padding: .5em 0 0 0 }
#news dd { margin: 0; padding: 0 0 0 3.5em; text-indent: -3.5em }
.center { text-align: center }
.source { font-size: .75em; font-style: italic; }
.even { background-color: #fee; }
.odd { background-color: #eee; }
.code { padding: 0 2em 0 0 }
.sidebar { background-color: #fee; border: solid 1px #600; padding: .5em 1em }
.highlight { background-color: #fcc }
.error { border: 1px solid #c00; padding: .5em 1em; color: #c00 }
.button { white-space: nowrap; padding: .125em .25em; border: #666 1px solid; }

#adlink { background-color: #600; height: 100px }
#admiddle { margin: .5em 3em }
#adbottom { margin: 1em 0 4em .5em }
#adright { float: right; margin: 0 15% .5em 1em }

@media print
{
	body, #bg, #content { margin: 0px; color: #000; background-image: none; font-size: 12pt }
	pre, tt { font-size: 12pt }
	a { text-decoration: underline }
	form, #menu, #logo, #admiddle, #adbottom, #adright { display: none }
}

@media screen and (max-width: 640px)
{
	body { background-image: none; }
	#content { margin: 50px 10px 10px 10px; }
	#logo { padding: 0; top: -87px; width: 100%; border-bottom: 1px #666 solid }
	#logo a { padding: 4px 4px 2px 8px; background-image: url(/style/logo.svg); background-size: 61px 61px; background-repeat: no-repeat; background-position: right 85px }
	#menu { font-size: 84%; position: static; width: 100%; border-top: 1px #666 solid; margin: 1em 0 0 0 }
	#menu dt { margin: 0 0 8px 0 }
	#menu dd a { padding: 8px 16px; border: 1px solid; border-color: #933 #000 #000 #933 }
	#adright { margin: 0 0 1em .5em }
}
