    ------
    maven-latex-plugin Simple Example
    ------
    Carsten Erker
    ------
    ------

Simple Example

    The following configuration contains one execution which will create

    * a pdf version of each TeX document under PROJECT_HOME/target/site.

    []

+--
<project>
    <build>
        <plugins>
            <plugin>
                <groupId>de.akquinet.maven</groupId>
                <artifactId>maven-latex-plugin</artifactId>
                <version>${project.version}</version>
                <inherited>false</inherited>
                <executions>
                    <execution>
                        <phase>site</phase>
                        <goals>
                            <goal>latex</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>
+--
