    ------
    maven-latex-plugin Usage
    ------
    Carsten Erker
    ------
    ------

Usage

* Source code repository

+--
git://github.com/akquinet/maven-latex-plugin.git
+--

* Maven repository

+--
<project>
    <pluginRepositories>
        <pluginRepository>
            <id>maven-latex-plugin-repo</id>
            <url>http://akquinet.github.com/maven-latex-plugin/maven2/</url>
            <releases>
                <enabled>true</enabled>
            </releases>
        </pluginRepository>
    </pluginRepositories>
</project>
+--

* Maven plugin dependency

+--
<project>
    <build>
        <plugins>
            <plugin>
                <groupId>de.akquinet.maven</groupId>
                <artifactId>maven-latex-plugin</artifactId>
                <version>${project.version}</version>
            </plugin>
        </plugins>
    </build>
</project>
+--

